registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-dcloud/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-virgo-web-release-local/:_auth=${NPM_AUTH}
//artifactory.corp.adobe.com/artifactory/api/npm/npm-dcloud/:_auth=${NPM_AUTH}
email=${NPM_EMAIL}
always-auth=true
@react:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-react-release/
legacy-peer-deps=true
engine-strict=true
